# --- ŚRODOWISKO I KONFIGURACJA ---
# Nigdy nie wysyłaj haseł do Gita!
config.php
env_loader.php
.env
php.ini

# --- DEPENDENCJE ---
# Nie wysyłaj folderu vendor, każdy instaluje go sam przez 'composer install'
vendor/
composer.phar

# --- DANE BIZNESOWE ---
# Na serwer wgrasz je ręcznie przez FTP.
*.csv
!produkty_sample.csv

# --- PLIKI MULTIMEDIALNE ---
# Ignoruj zdjęcia, jeśli są duże i nie chcesz "zapchać" repozytorium
img/

# --- IDE (NARZĘDZIA) ---
.idea/
.vscode/
*.iml

# --- SYSTEMOWE / TYMCZASOWE ---
*.log
.DS_Store
Thumbs.db
rozpakuj.php
vendor.zip