# --- ŚRODOWISKO I KONFIGURACJA ---
# Nigdy nie wysyłaj haseł do Gita!
config.php
.env
php.ini

# --- DEPENDENCJE ---
# Nie wysyłaj folderu vendor, każdy instaluje go sam przez 'composer install'
vendor/
composer.phar

# --- DANE BIZNESOWE ---
# Jeśli ceny w CSV są poufne, ignoruj je.
# Na serwer wgrasz je ręcznie przez FTP.
*.csv

# --- PLIKI MULTIMEDIALNE ---
# Ignoruj zdjęcia, jeśli są duże i nie chcesz "zapchać" repozytorium
img/

# --- IDE (NARZĘDZIA) ---
.idea/
.vscode/
*.iml

# --- SYSTEMOWE / TYMCZASOWE ---
*.log
.DS_Store
Thumbs.db
rozpakuj.php